:root{
    --color-primary: #eb2f64;
    --color-Primary-light: #FF3366;
    --color-Primary-dark: #BA265D;

    --color-grey-light-1: #faf9f9;
    --color-grey-light-2: #f4f2f2;
    --color-grey-light-3: #f0eeee;
    --color-grey-light-4: #ccc;

    --color-grey-dark-1: #333;
    --color-grey-dark-2: #777;
    --color-grey-dark-3: #999;
    --default-size: 1.4rem;

    --shadow-light: 0 1.5rem 6rem rgba(0,0,0,0.3);
    --shadow-dark: 0 1.5rem 4rem rgba(0,0,0,0.2);

    --line: 1px solid var(--color-grey-light-2);
}

.u-center{
    text-align: center;
}

*,
*::after,
*::before{
    box-sizing: inherit;
}

*{
    margin: 0;
    padding: 0;
}

html{
    box-sizing: border-box;
    font-size: 62.5%; // 1rem = 10px because 10/16 = 62.5%
}

body{
    font-family: "open sans", sans-serif;
    font-size: var(--default-size);
    font-weight: 400;
    line-height: 1.6;
    color: #333;
    background-image: linear-gradient(to bottom right, var(--color-Primary-light), var(--color-Primary-dark));
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}