@keyframes slideRight {
  0% {
    transform: translateX(-100px); }
  80% {
    transform: translateX(10px); }
  100% {
    transform: translateX(0); } }

@keyframes slideLeft {
  0% {
    transform: translateX(100px); }
  80% {
    transform: translateX(-10px); }
  100% {
    transform: translateX(0); } }

@keyframes slideTop {
  0% {
    transform: translateY(50px);
    opacity: 0; }
  80% {
    transform: translateY(-10px);
    opacity: 1; }
  100% {
    transform: translateY(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  font-size: 1.6rem;
  text-rendering: optimizeLegibility;
  color: #555;
  padding: 3rem; }
  @media only screen and (max-width: 56.25em) {
    body {
      padding: 0;
      line-height: 1.6; } }

.heading-primary {
  color: #f4f4f4;
  text-transform: uppercase;
  font-family: "Josefin_Sans", sans-serif;
  backface-visibility: hidden; }
  .heading-primary--sub, .heading-primary--main {
    display: block;
    animation-duration: 2s;
    animation-timing-function: ease; }
  .heading-primary--main {
    font-size: 6rem;
    font-weight: 300;
    letter-spacing: 3rem;
    animation-name: slideRight; }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--main {
        letter-spacing: 2rem;
        font-size: 4rem; } }
  .heading-primary--sub {
    letter-spacing: 1.5rem;
    font-size: 2rem;
    font-weight: bold;
    animation-name: slideLeft; }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--sub {
        letter-spacing: 0.5rem; } }

.heading-secondry {
  font-family: "Lato", sans-serif;
  font-weight: 501;
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  transition: all 0.2s;
  display: inline-block;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; }
  .heading-secondry:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }
  @media only screen and (max-width: 37.5em) {
    .heading-secondry {
      font-size: 2rem;
      font-weight: 800; } }

.heading-3 {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  word-spacing: 0.1rem;
  color: #777; }

.paragraph {
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  line-height: inherit;
  font-weight: 500;
  letter-spacing: 0.1rem;
  color: #777; }
  .paragraph:not(:last-of-type) {
    margin-bottom: 3rem; }

.u-margin-top-lg {
  margin-top: 6rem; }

.u-center {
  text-align: center; }

.u-margin-bottom-lg {
  margin-bottom: 6rem; }

.u-margin-bottom-md {
  margin-bottom: 4rem; }

.u-margin-bottom-sm {
  margin-bottom: 2rem; }

.u-margin-bottom-xsm {
  margin-bottom: 1rem; }

.u-margin-top-lg {
  margin-top: 6rem; }

.u-margin-top-md {
  margin-top: 4rem; }

.u-margin-top-sm {
  margin-top: 2rem; }

.u-margin-top-xsm {
  margin-top: 1rem; }

.header {
  background-color: #55c57a;
  background-image: linear-gradient(to bottom right, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  height: 95vh;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative; }
  @media only screen and (max-width: 56.25em) {
    .header {
      clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%); } }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo-link:link, .header__logo-link:visited, .header__logo-link:hover, .header__logo-link:active {
    text-decoration: none; }
  .header__logo-img {
    height: 3.5rem;
    width: auto; }
  .header__hero-text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row::after {
    content: "";
    display: table;
    clear: both;
    height: 0;
    visibility: hidden; }
  @media only screen and (max-width: 75em) {
    .row {
      padding: 0 2rem; } }
  .row:not(:last-child) {
    margin-bottom: 6rem; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
    @media only screen and (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; }
        .row [class^="col-"]:not(:last-child) {
          margin-bottom: 4rem; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc( 2 * calc((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc( 2 * calc((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc( 3 * calc((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.footer {
  background-color: #333;
  padding: 10rem 0; }
  .footer__logo {
    height: 10rem;
    margin-bottom: 6rem; }
  .footer__copyright {
    display: inline-block;
    padding-top: 0.8rem;
    border-top: 1px solid #999; }

.section-about {
  background-color: #eee;
  margin-top: -20vh;
  padding: 25rem 0; }
  @media only screen and (max-width: 56.25em) {
    .section-about {
      padding: 20rem 0; } }

.section-tours {
  background-color: #eee;
  padding: 20rem 0 8rem 0;
  margin-top: -10rem;
  min-height: 100rem; }
  @media only screen and (max-width: 56.25em) {
    .section-tours {
      padding: 15rem 0; } }

.section-stories {
  background-color: #fff;
  padding: 10rem 0;
  position: relative;
  z-index: 100;
  overflow: hidden; }
  @media only screen and (max-width: 56.25em) {
    .section-stories {
      padding: 5rem 0; } }

.section-contact {
  padding: 10rem 0;
  background-color: #55c57a;
  background-image: linear-gradient(to bottom right, #7ed56f, #28b485); }
  @media only screen and (max-width: 56.25em) {
    .section-contact {
      padding: 5rem 0; } }
  .section-contact__box {
    background-color: #fff;
    box-shadow: 0 1.6rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 3px;
    overflow: hidden;
    padding: 4rem;
    background-image: linear-gradient(110deg, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url(../img/nat-10.jpg); }
    @media only screen and (max-width: 75em) {
      .section-contact__box {
        background-image: linear-gradient(125deg, rgba(255, 255, 255, 0.9) 33.333%, rgba(255, 255, 255, 0.9) 66.66666%, transparent 33.3333%), url(../img/nat-10.jpg); } }
    @media only screen and (max-width: 56.25em) {
      .section-contact__box {
        padding: 5rem 0;
        background-image: linear-gradient(to right, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 100%), url(../img/nat-10.jpg); }
        .section-contact__box > div {
          text-align: center; } }

.btn--white::after, .btn--green::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 1;
  transition: all 0.3s; }

.btn, .btn:link, .btn:visited {
  display: inline-block;
  text-decoration: none;
  padding: 1.5rem 4rem;
  text-align: center;
  text-transform: uppercase;
  font-family: "Josefin_Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 200;
  position: relative;
  transition: all 0.2s;
  backface-visibility: hidden;
  border: none; }

.btn:focus {
  outline: none; }

.btn--white, .btn--white:link, .btn--white:visited {
  background-color: #f4f4f4;
  color: #777; }

.btn--white::after {
  background-color: #f4f4f4; }

.btn--green, .btn--green:link, .btn--green:visited {
  background-color: #55c57a;
  color: #f4f4f4; }

.btn--green::after {
  background-color: #55c57a; }

.btn--white:hover::after, .btn--green:hover::after {
  transform: scaleY(1.3) scaleX(1.7);
  opacity: 0; }

.btn--round, .btn--round:link, .btn--round:visited {
  border-radius: 100px; }

.btn:hover {
  transform: translateY(-0.5rem);
  box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.2); }

.btn:active {
  transform: translateY(-0.2rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.btn--animated {
  animation: slideTop 2s ease 0.7s;
  animation-fill-mode: backwards; }

.btn-ghost, .btn-ghost:link, .btn-ghost:visited {
  display: inline-block;
  text-decoration: none;
  color: #55c57a;
  padding: 0.5rem 1rem;
  font-size: 1.8rem;
  border-bottom: 1px solid currentColor;
  transition: all 0.4s; }

.btn-ghost:hover, .btn-ghost:active {
  background-color: #55c57a;
  color: #fff;
  border-bottom: 1px solid transparent; }

.btn-ghost:hover {
  transform: translateY(-0.5rem);
  box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.2); }

.btn-ghost:active {
  transform: translateY(-0.2rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.btn-ghost__arow {
  margin-left: 0.5rem; }

.gallery {
  position: relative; }
  .gallery__photo {
    display: block;
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    position: absolute;
    transition: all 0.4s; }
    @media only screen and (max-width: 56.25em) {
      .gallery__photo {
        width: 33.333%;
        position: static;
        float: left; } }
    .gallery__photo--1 {
      top: -2rem;
      left: 0; }
      @media only screen and (max-width: 56.25em) {
        .gallery__photo--1 {
          transform: scale(0.9);
          box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.4); } }
    .gallery__photo--2 {
      right: 3rem;
      top: 2rem; }
      @media only screen and (max-width: 56.25em) {
        .gallery__photo--2 {
          transform: scale(1.1);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.6); } }
    .gallery__photo--3 {
      top: 14rem;
      left: 8rem; }
      @media only screen and (max-width: 56.25em) {
        .gallery__photo--3 {
          transform: scale(0.9);
          box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.4); } }
    .gallery__photo:hover {
      outline: 1.5rem solid #55c57a;
      outline-offset: 1rem;
      transform: scale(1.16);
      z-index: 100; }
  .gallery:hover .gallery__photo:not(:hover) {
    transform: scale(0.9); }

.features {
  padding: 20rem 0;
  background-color: #55c57a;
  background-image: linear-gradient(to bottom right, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/nat-4.jpg);
  background-size: cover;
  background-position: center;
  margin-top: -12vh;
  transform: skewY(-7deg); }
  @media only screen and (max-width: 56.25em) {
    .features {
      padding: 15rem 0; } }
  .features > * {
    transform: skewY(7deg); }
  .features__feature {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 3rem;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 3px;
    transition: all 0.4s;
    text-align: center; }
    @media only screen and (max-width: 56.25em) {
      .features__feature {
        width: 60%;
        margin: 0px auto; } }
    @media only screen and (max-width: 37.5em) {
      .features__feature {
        width: 90%;
        margin: 0px auto; } }
    .features__feature:hover {
      transform: scale(1.099); }
  .features__icon {
    display: inline-block;
    font-size: 6rem;
    line-height: 1;
    background-image: linear-gradient(to right, #7ed56f, #28b485);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; }

.card {
  position: relative;
  min-height: 50rem;
  perspective: 150rem;
  /* Rotate functionality */
  /* Front side styling */
  /*Back side styling*/ }
  .card__side {
    backface-visibility: hidden;
    min-height: 50rem;
    transition: all 1s;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 1.5rem 6rem rgba(0, 0, 0, 0.2); }
    .card__side--front {
      background-color: #fff;
      z-index: 20;
      overflow-x: hidden; }
    .card__side--back {
      transform: rotateY(180deg);
      z-index: 10; }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0deg); }
  .card__heading {
    max-width: 75%;
    position: absolute;
    top: 12rem;
    right: 2rem;
    color: #fff;
    text-transform: uppercase;
    font-size: 2.8rem;
    font-weight: 300;
    text-align: right; }
  .card__heading-span {
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    padding: 1.5rem 3rem; }
    .card__heading-span--1 {
      background-image: linear-gradient(to bottom right, rgba(255, 185, 0, 0.9), rgba(255, 119, 48, 0.9)); }
    .card__heading-span--2 {
      background-image: linear-gradient(to bottom right, rgba(126, 213, 111, 0.9), rgba(40, 180, 133, 0.9)); }
    .card__heading-span--3 {
      background-image: linear-gradient(to bottom right, rgba(41, 152, 255, 0.9), rgba(86, 67, 250, 0.9)); }
  .card__picture {
    height: 25rem;
    background-blend-mode: screen;
    background-size: cover;
    background-position: center;
    clip-path: polygon(0 0, 100% 0, 100% 20rem, 0 100%);
    position: relative; }
    .card__picture--1 {
      background-image: linear-gradient(to bottom right, rgba(255, 185, 0, 0.9), rgba(255, 119, 48, 0.9)), url(../img/nat-5.jpg); }
    .card__picture--2 {
      background-image: linear-gradient(to bottom right, rgba(126, 213, 111, 0.9), rgba(40, 180, 133, 0.9)), url(../img/nat-6.jpg); }
    .card__picture--3 {
      background-image: linear-gradient(to bottom right, rgba(41, 152, 255, 0.9), rgba(86, 67, 250, 0.9)), url(../img/nat-7.jpg); }
  .card__list {
    list-style: none;
    width: 70%;
    margin: 0 auto;
    text-align: center;
    margin-top: 2rem 0; }
  .card__list-item {
    color: #999;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #ddd; }
    .card__list-item:not(:last-child) {
      margin-bottom: 1.3rem; }
  .card__side--back {
    text-align: center; }
    .card__side--back--1 {
      background-image: linear-gradient(to bottom right, #ffb900, #ff7730); }
    .card__side--back--2 {
      background-image: linear-gradient(to bottom right, #7ed56f, #28b485); }
    .card__side--back--3 {
      background-image: linear-gradient(to bottom right, #2998ff, #5643fa); }
  .card .card__only {
    display: block;
    font-size: 1.5rem;
    color: #f4f4f4;
    margin-top: 10rem; }
  .card .card__price {
    display: block;
    font-size: 6rem;
    color: #f4f4f4;
    margin-top: 3rem;
    margin-bottom: 8rem; }

@media only screen and (max-width: 56.25em) {
  .card {
    position: static;
    height: auto;
    width: 60%;
    margin: 0 auto;
    box-shadow: 0 1.5rem 6rem rgba(0, 0, 0, 0.4);
    /* Rotate functionality */
    /* Front side styling */
    /*Back side styling*/ }
    .card__side {
      position: static;
      min-height: auto;
      box-shadow: transparent;
      transition: none; }
      .card__side--front {
        margin-bottom: -3rem; }
      .card__side--back {
        transform: rotateY(0);
        padding: 3rem 0;
        clip-path: polygon(0 2.5rem, 100% 0, 100% 100%, 0 100%); }
    .card:hover .card__side--front {
      transform: rotateY(0deg); }
    .card:hover .card__side--back {
      transform: rotateY(0deg); }
    .card__list {
      padding-bottom: 8rem;
      margin: 2rem auto 0 auto; }
    .card .card__only {
      margin-top: 0rem; }
    .card .card__price {
      margin-top: 1rem; } }

@media only screen and (max-width: 37.5em) {
  .card {
    width: 90%; } }

.story {
  max-width: 75%;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 8rem 4rem;
  transform: skewX(-15deg);
  padding: 6rem 4rem 6rem 8rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.3);
  margin-bottom: 8rem; }
  @media only screen and (max-width: 56.25em) {
    .story {
      max-width: 90%;
      padding: 6rem 4rem 6rem 6rem; } }
  @media only screen and (max-width: 37.5em) {
    .story {
      transform: skewX(-3deg); } }
  .story > * {
    transform: skewX(15deg); }
    @media only screen and (max-width: 37.5em) {
      .story > * {
        transform: skewX(3deg); } }
  .story__pic-box {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    backface-visibility: hidden;
    float: left;
    margin-right: 3rem;
    -webkit-shape-outside: circle();
    shape-outside: circle(); }
  .story__pic {
    height: 100%;
    transform: translateX(-4rem) scale(1.4);
    transition: all 0.3s; }
  .story__caption {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 0%);
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-size: 2rem;
    opacity: 0;
    transition: all 0.4s ease 0.1s; }
  .story:hover .story__pic {
    transform: translateX(-4rem) scale(1);
    filter: blur(3px) brightness(80%); }
  .story:hover .story__caption {
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 1.0; }

.bg-video-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -100; }

.bg-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.2; }

.form {
  max-width: 50%;
  color: inherit;
  font-size: inherit;
  font-family: inherit; }
  @media only screen and (max-width: 75em) {
    .form {
      max-width: 75%;
      margin: 0 auto; } }
  @media only screen and (max-width: 56.25em) {
    .form {
      max-width: 70%;
      margin: 0 auto; } }
  @media only screen and (max-width: 37.5em) {
    .form {
      max-width: 95%; } }
  .form__group {
    position: relative; }
    .form__group:not(:last-child) {
      margin-bottom: 4rem; }
  .form__input {
    display: block;
    width: 90%;
    border: none;
    border-radius: 1px;
    background-color: #fff;
    border-bottom: 3px solid transparent;
    padding: 1.5rem 1rem;
    transition: all 0.3s; }
    @media only screen and (max-width: 75em) {
      .form__input {
        width: 65%; } }
    @media only screen and (max-width: 56.25em) {
      .form__input {
        width: 60%; } }
    @media only screen and (max-width: 37.5em) {
      .form__input {
        width: 90%; } }
    .form__input:focus {
      outline: none;
      border-bottom: 3px solid #55c57a;
      box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.5); }
    .form__input:focus:invalid {
      border-bottom: 3px solid #ff7730; }
    .form__input::-webkit-input-placeholder {
      color: #777;
      font-size: 1.6rem; }
    .form__input::-webkit-input-placeholder {
      color: #777;
      font-size: 1.6rem; }
  .form__input:placeholder-shown + .form__label {
    bottom: 1.5rem;
    left: 1rem;
    opacity: 0;
    transition: all 0.4s; }
  .form__label {
    position: absolute;
    bottom: -3rem;
    left: 1rem;
    opacity: 1;
    transition: all 0.4s; }

.radio__group {
  display: inline-block; }
  .radio__group:not(:last-child) {
    margin-right: 4rem; }

.radio__input {
  display: none; }

.radio__input:checked + label > .radio__custom::after {
  opacity: 1;
  visibility: visible; }

.radio__custom {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 5px solid #55c57a;
  background-color: transparent;
  display: inline-block;
  position: relative;
  top: 8px;
  margin-right: 1.5rem; }
  .radio__custom::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    border: none;
    background-color: #55c57a;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s; }

.navbar {
  display: inline-block;
  padding-top: 0.8rem;
  border-top: 1px solid #999;
  list-style: none; }
  .navbar__item {
    list-style: none;
    display: inline; }
    .navbar__item:not(:last-child) {
      margin-right: 1.5rem; }
  .navbar__link, .navbar__link:link, .navbar__link:visited {
    text-decoration: none;
    color: #eee;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 500;
    display: inline-block;
    padding: 0.5rem 0.8rem;
    transition: all 0.2s; }
  .navbar__link:hover, .navbar__link:active {
    background-color: #333;
    box-shadow: 0 1.5rem 6rem rgba(0, 0, 0, 0.4);
    transform: scale(1.16) rotate(3deg); }

.main-nav {
  /* Toggle icon */
  /* Change icon */
  /* Back Ground */
  /* Navigation */ }
  .main-nav__checkbox {
    display: none; }
  .main-nav__toggler {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    position: fixed;
    top: 6rem;
    right: 6rem;
    z-index: 9995;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
    text-align: center;
    cursor: pointer;
    background-color: #fff;
    color: #333; }
    .main-nav__toggler--icon {
      position: relative;
      margin-top: 3.5rem;
      line-height: 1; }
      .main-nav__toggler--icon, .main-nav__toggler--icon::before, .main-nav__toggler--icon::after {
        width: 3rem;
        height: 2px;
        background-color: #333;
        display: inline-block; }
      .main-nav__toggler--icon::before, .main-nav__toggler--icon::after {
        content: "";
        position: absolute;
        left: 0;
        transition: all .2s; }
      .main-nav__toggler--icon::before {
        top: -.8rem; }
      .main-nav__toggler--icon::after {
        top: .8rem; }
    .main-nav__toggler:hover > .main-nav__toggler--icon::before {
      top: -1rem; }
    .main-nav__toggler:hover > .main-nav__toggler--icon::after {
      top: 1rem; }
  .main-nav__checkbox:checked + .main-nav__toggler > .main-nav__toggler--icon {
    background-color: transparent; }
  .main-nav__checkbox:checked + .main-nav__toggler > .main-nav__toggler--icon::before {
    top: 0;
    transform: rotate(135deg); }
  .main-nav__checkbox:checked + .main-nav__toggler > .main-nav__toggler--icon::after {
    top: 0;
    transform: rotate(-135deg); }
  .main-nav__bg {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
    background-color: #55c57a;
    background-image: radial-gradient(#7ed56f, #28b485);
    position: fixed;
    top: 6.5rem;
    right: 6.5rem;
    z-index: 4000; }
  .main-nav__checkbox:checked ~ .main-nav__bg {
    transform: scale(80); }
  .main-nav__navi {
    list-style: none;
    position: fixed;
    top: 50%;
    left: 0%;
    transform: translate(-50%, -50%);
    z-index: 5000;
    width: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.4s;
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }
  .main-nav__item {
    list-style: none; }
    .main-nav__item:not(:last-child) {
      margin-bottom: 1.5rem; }
  .main-nav__link {
    position: relative; }
    .main-nav__link, .main-nav__link:link, .main-nav__link:visited {
      display: inline-block;
      color: #f4f4f4;
      text-transform: uppercase;
      font-size: 2.5rem;
      font-weight: 500;
      text-decoration: none;
      padding: 1.5rem 6rem 1.5rem 4rem;
      z-index: 20;
      transition: transform 0.4s; }
      @media only screen and (max-width: 37.5em) {
        .main-nav__link, .main-nav__link:link, .main-nav__link:visited {
          font-size: 2rem;
          font-weight: 300;
          text-transform: capitalize; } }
    .main-nav__link::after {
      content: "";
      width: 100%;
      height: 100%;
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
      background-image: linear-gradient(125deg, transparent 50%, #fff 50%);
      background-size: 228%;
      transition: all 0.3s;
      z-index: -10; }
    .main-nav__link:hover {
      color: #333;
      transform: translateX(3rem); }
    .main-nav__link:hover::after {
      background-position: bottom right; }
  .main-nav__checkbox:checked ~ .main-nav__navi {
    width: auto;
    opacity: 1;
    left: 50%; }

.popup {
  transition: opacity 0.2s ease 0.1;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  z-index: 9999; }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup:target .popup__box {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); }
  .popup__box {
    transition: all 0.8s ease 0.3s;
    width: 75%;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 1.6rem 4rem rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.5);
    padding: 0;
    opacity: 0;
    display: table; }
  .popup__left {
    width: 30%;
    display: table-cell; }
  .popup__right {
    width: 70%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 3rem 3rem 5rem; }
  .popup__image {
    width: 100%;
    display: block; }
  .popup__text {
    font-size: 1.4rem;
    font-weight: 300;
    column-count: 2;
    column-rule: 1px dashed #ddd;
    column-gap: 3rem; }
  .popup__close, .popup__close:link, .popup__close:visited {
    text-decoration: none;
    font-size: 3rem;
    line-height: 1;
    position: absolute;
    top: 2rem;
    right: 2rem;
    color: #333;
    transition: all 0.2s; }
  .popup__close:hover, .popup__close:active {
    color: #55c57a;
    transform: scale(1.3);
    transform-origin: center; }
